.head, .foot, .index {
  width: 96%;
  max-width: 1200px;
  margin: 0 auto;
  background: #f1f1f1;
  padding: 10px;
}

.container {
  overflow: hidden;
}

.head {
  width: 100%;
  padding: 0;
  .swiper {
    max-height: 260px;
    overflow: hidden;
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
}

.foot {
  text-align: center;
}

.head img {
  width: 120px;
  height: auto;
}

.head a {
  font-size: 28px;
  color: #000;
  font-weight: bold;
}

.index {
  background: #fefefe;
}

@media(max-width: 768px) {
  .head, .index, .foot{
    max-width: 100%;
  }
}