.head, .foot, .index {
  width: 96%;
  max-width: 1200px;
  margin: 0 auto;
  background: #f1f1f1;
  padding: 10px;
}

.head {
  height: 50px;
  line-height: 50px;
}

.foot {
  text-align: center;
}

.head img {
  width: 120px;
  height: auto;
}

.head a {
  font-size: 28px;
  color: #000;
  font-weight: bold;
}

.index {
  background: #fefefe;
}

@media(max-width: 768px) {
  .head, .index, .foot{
    max-width: 100%;
  }
}